.section-wrap{
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}

.section-wrap h1{
    font-size: 36px;
    color: #0B4F6C;
    margin: 20px;
    padding: 0;
}

.standard-button{
    padding: 15px;
    font-size: 20px;
    color: #ffffff;
    background-color:  #5C9EAD;
    border: none;
}

.standard-button:hover{
    cursor: pointer;
    background-color: #0B4F6C;
    border: none;
}

.mr{
    margin-right: 15px;
}

.list{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.list-item{
    font-size: 20px;
    margin-bottom: 20px;
    background-color: #5C9EAD;
    color: #ffffff;
    width: 20%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
}

.list-item a{
    color: #ffffff;
    text-decoration: none;
}

.list-item a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.spacing-wrapper{
    margin: 50px;
}

.full-width-spacer{
    border: 2px solid #5C9EAD;
    width: 50%;
    margin-top: 50px;
}

/* Detail page */

.players-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.player-box{
    border: 5px solid #5C9EAD;
    margin: 20px;
    max-width: 300px;
    padding: 10px;
    min-width: 200px;

}

.player-position p{
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.player-name{
    font-size: 20px;
}

.player-points{
    font-size: 40px;
}

.points-divider{
    border: 3px solid #5C9EAD;
}

.points-button{
    padding: 10px;
    width: 50px;
    margin: 8px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

.points-button:hover{
    cursor: pointer;
}

.add{
    background-color: #76B041;
}

.minus{
    background-color: #E4572E;
}

.add-buttons{
    margin-bottom: 20px;
}

.button-wrap{
    display: flex;
    justify-content: center;
}

.message-box{
    border: 5px solid black;
    background-color: rgba(119, 176, 65, 0.493);
    width: 50%;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 25px;
}

.dismiss-message{
    font-weight: bold;
}

.dismiss-message:hover{
    text-decoration: underline;
    cursor: pointer;
}