.criteria-list{
	display: flex;
	padding: 0;
	margin: 0;
	width:100%;
	border: 1px solid red;
}

@media screen and (min-width: 701px) {
	.individual-criteria{
		width: 33%;
		border: 1px solid blue;
		margin: 5px;
	}
	.criteria-list{
		flex-direction: row;
	}
}

@media screen and (max-width: 700px) {
	.individual-criteria{
		width: 100%;
		border: 1px solid blue;
		margin: 5px;
	}
	.criteria-list{
		flex-direction: column;
	}
}

.delete{
	border: 1px solid white;
	background-color: white;
	color: grey;
	margin-top: 20%;
}

.delete:hover{
	text-decoration: underline;
	cursor: pointer;
}

@media screen and (min-width: 501px) {
	.game-title{
		display: none;
	}
}

@media screen and (max-width: 500px) {
	.game-title{
		font-size: 28px;
		text-align: left;
	}
}
