.criteria-list li {
	font-size: 14px;
	color: #000;
	border: 1px solid black;
	list-style-type: none;
	display: inline-block;
	padding: 20px;
	margin: 10px;
}

.delete{
	border: 1px solid white;
	background-color: white;
	color: grey;
	margin-top: 20%;
}

.delete:hover{
	text-decoration: underline;
	cursor: pointer;
}

@media screen and (min-width: 501px) {
	.game-title{
		display: none;
	}
}

@media screen and (max-width: 500px) {
	.game-title{
		font-size: 28px;
		text-align: left;
	}
}
