li {
	font-size: 14px;
	color: #000;
	border: 1px solid black;
	padding: 20px;
	padding-bottom: 20px;
	margin: 20px;
	width: 150px;
	margin-bottom: 20px;
	list-style-type: none;
	display: inline-block;
}

.criteria-list {
	list-style-type: none;
	text-align: center;
	margin: 50px;
}
