@media screen and (min-width: 501px) {
	.game-list{
		width: 350px;
		font-size:30px;
		font-family: "Courier";
	}
  }
  
  @media screen and (max-width: 500px) {
	.game-list{
		width: 150px;
		font-size:16px;
	 	font-family: "Courier";
	}
  }

#game-list-wrapper{
	width:100%;
	margin: 0 auto;
}