#navbar{
	display: flex;
	flex-direction: row;
	width: 100%;
}

@media screen and (min-width: 501px) {
	#right-nav{
		flex-grow: 1;
		margin-right: 10px;
	}
	#left-nav{
		flex-grow: 3;
	}
  }
  
  @media screen and (max-width: 500px) {
	#navbar{
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	#right-nav{
		flex-grow: 1;
		margin: 0 auto;
	}
	#left-nav{
		flex-grow: 1;
		margin: 0 auto;
	}
	#left-nav h1{
		text-align: center;
	}
	#left-nav p{
		text-align: center;
	}
  }


#right-nav p{
	margin: 10 0 0 0;
	padding: 0;
	text-align: right;
}

#navbar ul{
	text-align: right;
}

#navbar-items li{
	list-style-type: none;
	display: inline-block;
	margin-left: 10px;
	margin-top: 5px;
}

#navbar-items li a:hover{
	font-weight: bold;
}

#navbar-items li a:visited{
	color: black;
}

.site-name{
	margin: 0;
	font-size: 40px;
	text-align: left;
}

.site-name a{
	text-decoration: none;
}

.site-name a:hover{
	text-decoration: underline;
}

.site-name a:visited{
	text-decoration: underline;
	color: black;
}

.sub-heading{
	margin: 0;
	text-align: left;
}

hr{
	border: 2px solid grey;
	margin: 20px 0px;
}