.prediction-list {
	font-size: 14px;
	border-color: black;
	color: #34495e;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.list-of-predictions p{
	padding: 0px 20px;
	text-align: center;
}
